<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>selectAll.html</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body th:replace="~{layout::layout}">

	<div th:fragment="content">
		<h1>selectAll.html</h1>
		<form action="/board/searchList">
			<select name="searchKey">
				<option value="title">title</option>
				<option value="content">content</option>
			</select> 
			<input type="text" name="searchWord" value="java" placeholder="검색어를 입력하세요"> 
			<input type="submit" value="검색">
		</form>
		<table id="insertTable">
			<thead>
				<tr>
					<th>글번호</th>
					<th>글제목</th>
					<th>작성자</th>
					<th>작성일자</th>
					<th>이미지</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="vo:${list}" >			
					<tr>
						<td><a th:href="|/board/selectOne?num=${vo.num}|">[[${vo.num}]]</a></td>
						<td>[[${vo.title}]]</td>
						<td>[[${vo.writer}]]</td>
						<td>[[${vo.wdate}]]</td>
						<td><img th:src="|/uploadimgPath/thumb_${vo.img_name}|"></td>
					</tr>
				</th:block>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
					<th:block th:each="i:${#numbers.sequence(1,totalPageCount)}">
						<th:block th:if="${param.searchKey==null}">
							<a th:href="|/board/selectAll?cpage=${i}|">[[${i}]]</a>
						</th:block>
						<th:block th:if="${param.searchKey!=null}">
							<th:block th:with="searchKey=${param.searchKey},searchWord=${param.searchWord}">
							<a th:href="|/board/searchList?cpage=${i}&searchKey=${searchKey}&searchWord=${searchWord}|">[[${i}]]</a>
						</th:block>	
						</th:block>						
					</th:block>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>